<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>讨论区</title>
	</head>
<body>
	<form action="__URL__/do_addmessage" method = "post" id = "myForm">
		留言主题：<input type="text" name = "title"> <br><br>
		<!-- 此处应该限制一下输入文本框的长度 -->
		<textarea name="content" id = "content"></textarea><br /><br />
		<input type="submit" name="submit" value="发布">
		<input type="reset" value = "取消">
		<!-- 添加一个事件，当点击其时，弹出对话框，是否放弃发布留言？是，关闭新打开的标签页，否，回到本界面 -->
	</form>
</body>
</html>