<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/public.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/index_link.css" />
</head>
<body>
    <div class="title">
        <font color="#777777"><strong>管理员：</strong><{$Think.session.username}></font>
    </div>
    <table>
        <div class="row">
                <br>
                <form action="__URL__/addlinks" method="post">
                    　名称： <input type="type" name="name"> 
                   　 地址： <input type="type" name="address"> 
                    　<input type="radio" name="condition" value="0" checked/>实验预约系统
                    　<input type="radio" name="condition" value="1"/>学院内链接
                    　<input type="radio" name="condition" value="2"/>校内链接
                    　<input type="radio" name="condition" value="3"/>校外链接　
                      <br><br>
                      <button type>添加</button>
                </form>
                <br>
        </div>
    </table>
        <div class="row">
            <table class = "table">
                    <volist name = "data0" id = "vo">
                        <tr>
                            <th><h3>实验仪器预约系统</h3></th>
                        </tr>
                        <tr>
                            <td><{$vo.name}></td>
                            <td><{$vo.address}></td>
                            <th> <a href="__URL__/delete_links/id/<{$vo.id}>">删除</a></th>
                        </tr>
                    </volist>
            </table>
        </div>
        <div class="row">
            <h2>相关链接</h2>
        </div>
        <div class="row">
            <table class = "table">
                        <tr>
                            <th><h3>学院内链接</h3></th>
                        </tr>
                    <volist name = "data1" id = "vo">
                        <tr>
                            <td><{$vo.name}></td>
                            <td><{$vo.address}></td>
                            <th> <a href="__URL__/delete_links/id/<{$vo.id}>">删除</a></th>
                        </tr>
                    </volist>
            </table>
        </div>
        <div class="row">
            <table class = "table">
                    <tr>
                        <th><h3>校内链接</h3></th>
                    </tr>
                    <volist name = "data2" id = "vo">
                        <tr>
                            <td><{$vo.name}></td>
                            <td><{$vo.address}></td>
                            <th> <a href="__URL__/delete_links/id/<{$vo.id}>">删除</a></th>
                        </tr>
                    </volist>
            </table>
        </div>
        <div class="row">
            <table class = "table">
                    <tr>
                        <th><h3>校外链接</h3></th>
                    </tr>
                    <volist name = "data3" id = "vo">
                        <tr>
                            <td><{$vo.name}></td>
                            <td><{$vo.address}></td>
                            <th> <a href="__URL__/delete_links/id/<{$vo.id}>">删除</a></th>
                        </tr>
                    </volist>
            </table>
        </div>
    </table>
</body>
</html>
