    * {
            margin: 0px;
            padding: 0px;
        }
        li {
            list-style: none;
        }
        img {
            border: 0;
        }
        a {
            text-decoration: none;
        }
        #sl_na{
            height: 60px;
            width: 100%;
            background:;
            margin-top: 3px;
            border:1px solid #2a8ba7;
            border-radius: 5px;
        }
        #inclu{
            margin: 0 auto;
            width: 890px;

        }
        #inclu a:link,#inclu a:hover,#inclu a:visited{
            margin-right: 5px;
            margin-top: 3px;
            display: block;
            width: 80px;
            height: 55px;
            color: #566F89;
            font-size: 15px;
            cursor:pointer;
            float: left;
            line-height: 30px;
            text-align: center;
            border-radius: 3px;

        }
        #inclu a:hover{
            color: #f2f2f2;
            background: #65666D;
            filter:alpha(opacity=2 0);  
            -moz-opacity:0.2;  
            -khtml-opacity: 0.2;  
            opacity: 0.2;  
        }
        #inclu a p{
            margin-top: 10px; 
            height: 15px;
        }
        #search{
            text-align: center;
            line-height: 30px;
            font-size: 12px;
        }
        #eqlist{
            height: 795px;
            margin-top: 5px;
            box-shadow: 0px 0px 5px #c1c1c1;
            border-radius: 5px;
        }
        #eqlist .eqsl{
            height: 225px;
            width: 295px;
            margin-top: 25px;
            margin-left: 17px;
            float: left;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #c1c1c1;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-overflow :ellipsis;
        }
        td a:link,td a:hover,td a:visited{
            text-decoration: none;
            font-size: 21px;
            line-height: 25px;
            width: 100%;
            color: #65666D;
            border-bottom: 1px dashed #eaeaea;
            margin-top: 3px;
            margin-left: 12px;
        }
        td a:hover{
            color: orange;
        } 
        td img{
            width: 140px;
            height: 120px;
            display: block;
        }
        #showr tr td,#showr tr th{
            display: block;
            width: 120px;
            height: 20px;
            font-size: 10px;
            border-bottom: 1px dashed #eaeaea;
        }
        #showr tr td{
            text-align: center;
        }
        #page{
            height: 20px;
            clear: both;
            line-height: 45px;
            float: right;
            margin-right: 16px;
        }

        