    * {
            margin: 0px;
            padding: 0px;
        }
        li {
            list-style: none;
        }
        img {
            border: 0;
        }
        a {
            text-decoration: none;
        }
        #sl_na{
            height: 60px;
            width: 100%;
            background:;
            margin-top: 3px;
            border:1px solid #2a8ba7;
            border-radius: 5px;
        }
        #inclu{
            margin: 0 auto;
            width: 890px;

        }
        #inclu a:link,#inclu a:hover,#inclu a:visited{
            margin-right: 5px;

            display: block;margin:auto 5px auto 0;
            width: 80px;
            height: 60px;
            color: #566F89;
            font-size: 15px;
            cursor:pointer;
            float: left;
            line-height: 30px;
            text-align: center;
            border-radius: 3px;

        }
        #inclu a:hover{
            color: #fff;
            background: #65666D;
            filter:alpha(opacity=30);  
            -moz-opacity:0.3;  
            -khtml-opacity: 0.3;  
            opacity: 0.3;  
        }
        #search{
            text-align: center;
            line-height: 30px;
            font-size: 12px;
        }
        #eqlist{
            height: 720px;
            margin-top: 5px;
            box-shadow: 0px 0px 5px #c1c1c1;
            border-radius: 5px;
        }
        #eqlist .eqsl{
            height: 200px;
            width: 295px;
            margin-top: 25px;
            margin-left: 17px;
            float: left;
            border-radius: 5px;
            border: 1px solid black;
        }
        td a:link,td a:hover,td a:visited{
            text-indent: 60px;
            text-decoration: none;
            font-size: 21px;
            line-height: 25px;
            width: 100%;
            color: #65666D;
            width: 100%;
            border-bottom: 1px dashed #eaeaea;
            margin-top: 5px;

        }
        td a:hover{
            color: orange;
        }
        #page{
            height: 20px;
            clear: both;
            line-height: 45px;
            float: right;
            margin-right: 16px;
        }
        td img{
            width: 140px;
            height: 120px;
            display: block;
        }
        /* #slide {
            z-index: 0;
            width: 800px;
            height: 400px;
            box-shadow: 0px 0px 5px #c1c1c1;
            margin: 20px auto;
            position:relative; 
            left:0; 
            top:0;
            overflow: hidden;
        }
        #slide ul {
            margin: 0 auto;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        #slide ul li {
            width: 800px;
            height: 400px;
            overflow: hidden;
            float: left;
            cursor:pointer;
        }
        #slide ul li img{
            width:800px;
            height: 100%;
        } */
        