	#list_nav
	{
		float: left;
		height: 400px;
		width: 25%;
		border: 1px solid black;
	}
	li{
		display: block;
		height: 50px;
		text-align: center;
		line-height: 50px;
		 opacity: .3; 
  		 filter: alpha(opacity=30); 
	}
	#picshow
	{
		float: left;
		height: 400px;
		width: 60%;
		border: 1px solid black;
		overflow: hidden;
	}
	img{
		width: 100%；
	}