			*{
				padding: 0;
				margin: 0;
			}
			.contain{
				margin: 0 auto;
				width: 65%;
				font-family: sans-serif;
			}
			#navi{
				width: 100%;
				border-radius: 0;
				text-decoration: none;
				outline: none;
				height: 47px;
			}
			#navi .contain{
				background:  #0F941A;
				height: 47px;
				border-radius: 3px;
			}
			 .navi_a:link{
			 	border-radius: 3px;
				text-decoration: none;
				display: block;
				line-height: 45px;
				width: 9%;
				background:  #0F941A;
				float: left;
				text-align: center;
				color: #F2F1E8;
				font-weight: 100px;
			} 
			.navi_a:visited{
				border-radius: 3px;
				text-decoration: none;
				display: block;
				line-height: 45px;
				width: 9%;
				background:  #0F941A;
				float: left;
				text-align: center;
				color: #F2F1E8;
				font-weight: 100px;
			} 	
			.navi_a:hover {
				border: 1px solid  #0F941A;
				border-radius: 3px;
				text-decoration: none;
				display: block;
				line-height: 45px;
				width: 9%;
				float: left;
				text-align: center;
				color:  #0F941A;
				background:  #F2F1E8;
			}
			#na_log{
				width:150px;
				height: 47px;
				float: right ;
				line-height:47px;
				position: relative;
				top: 0px;
				left: -200px;
			}
			#header{
				overflow:hidden;
				height: 187px;
			}
			#main{
				background: white;
			}
			#footer{
				height: 100px;
				clear: both;
			}