#pic{
	display: block;
	margin-left: 10%;
	margin-top: 10px;
	height: 200px;
	width: 200px;
}
#eqListShow table{
	width: 90%;
	margin-left: 5%;
}
#eqListShow tr{
	display: block;
	width: 100%;
	height: 30px;
}
#eqListShow td,#eqListShow th{
	float: left;
	display: block;
	width: 40%;
	margin-left:5%; 
}