<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>文档下载</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Author" content="网页作者" /> 
		<meta name="Copyright" content="网站版权" /> 
		<meta name="keywords" content="网站关键字" />
		<meta name="description" content="网站描述" />
		<link rel="stylesheet" href="./zhihu-css.css" />
		<link rel="stylesheet" type='text/css' href="__PUBLIC__/Css/main.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
		<script type="text/javascript" src="__PUBLIC__/Js//jquery-1.8.3.min.js"></script>
		<script src="__PUBLIC__/Js/public.js"></script>
	</head>
	<body>
		<!-- 这里是登录弹出窗口 -->
		 <div id="LoginBox">
        <div class="row1">
            登录<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="l_closeBtn">×</a>
        </div>
        <div class="row">
            用户名: <span class="inputBox">
                <input type="text" id="l_txtName" placeholder="账号/邮箱" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="l_warn">*</a>
        </div>
        <div class="row">
            密&nbsp;&nbsp;&nbsp;&nbsp;码: <span class="inputBox">
                <input type="text" id="l_txtPwd" placeholder="密码" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="l_warn2">*</a>
        </div>
        <div class="row">
            <a href="#" id="l_loginbtn">登录</a>
        </div>
    </div>
		
		<!-- 结束登陆弹出窗口 -->
		<div id='header'>
			<div class="contain" >
				<img src="__PUBLIC__/Pic/top.jpg" alt="" style="width:100%;" />
			</div>
		</div>
		<div id='navi'>
			<div class="contain">
				<a href="__APP__/Home/Index/main" class="navi_a">首页</a>
				<a href="__APP__/Home/Inform/news" class="navi_a">新闻通知</a>
				<a href="__APP__/Home/Equipment/equipment" class="navi_a">仪器介绍</a>
				<a href="__APP__/Home/Regulation/regulation" class="navi_a">规章制度</a>
				<a href="__APP__/Home/File/document" class="navi_a">文档下载</a>
				<a href="__APP__/Home/Message/conmunication" class="navi_a">讨论区</a>
				<a href="__APP__/Home/Index/about_us" class="navi_a">关于我们</a>
				<div id='na_log'>
					<span>欢迎</span>
					<eq name="Think.session.username" value=""><span><a href="#" id='login'>登录</a></span>
					<else />	<SPAN><{$Think.session.username}></SPAN>
						<a href="__APP__/Home/Login/login_out" style=''>退出</a>
					</eq>
				</div>
			</div>
		</div>
		<div id='main'>
			<div class="contain">
				<div id="main_navi">
						&nbsp;<a href="__APP__/Home/Index/main">首页</a><span>--->文档下载</span>
				</div>
				<div id="d_list">
					<h4>相关文件下载：</h4>
					<ul>
						<volist name = "data" id = "vo">
							<li>
								<a href="__ROOT__/Uploads<{$vo.address}>">
									<p><{$vo.realname}>　　<{$vo.date}></p></a><br />
							</li>
						</volist>
						
					</ul>
							<{$show}>
				</div>
			</div>
		</div>
		<div id='footer'>
			<div class="contain">
				<p class="footer_p">通讯地址：xxxxxxxxxxxxxxxxx</p>
				<p class="footer_p">邮政编码：xxxxxx</p>
				<p class="footer_p">联系电话：xxxxxxx xxxxxxxxxx xxxxxxxxxxxx</p>
				<hr />
				<p class="footer_p">@xxxxxxxxxxxxxx  <a href="__APP__/Admin/Index/admin">管理</a></p>
			</div>
		</div>
	</body>
</html>