<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>关于我们</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/about_us.css" />
		<script type="text/javascript" src="__PUBLIC__/Js/jquery-3.1.1.min.js"></script>
		<script src="__PUBLIC__/Js/public.js"></script>
		<script>
			function f1(){
				$.post("__APP__/Home/Login/do_login", {
					username:$("#l_txtName").val(),
					password:$("#l_txtPwd").val()
				},function(text){
					if(text=="pass"){
						window.location.href="__APP__/Home/Inform/news";
					}else{
						$("#suggest").html(text);
					}
				});
			}
			
		</script>
	</head>
	<body>
		<!-- 这里是登录弹出窗口 -->
		<div id="LoginBox">
	        <div class="row1">
	            登录<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="l_closeBtn">×</a>
	        </div>
	        <form>
		        <span id="suggest"> &nbsp;</span>
		        <div class="row">
		            账号: 
		            	<span >
		                	<input class="inputBox" type="text" id="l_txtName" placeholder="账号" />
		            	</span>
		        </div>
		        <div class="row">
		            密码:
		            <span >
		                <input class="inputBox" type="password" id="l_txtPwd" placeholder="密码" />
		           	</span>
		        </div>
		        <div class="row">
		            	<a href="#" id="l_loginbtn" onclick="f1();">登录</a>
	        	</div>
	        </form>
	    </div>
		
		<!-- 结束登陆弹出窗口 -->
		
		<div id='header'>
			<div class="contain" >
				<img src="__PUBLIC__/Pic/top.jpg" alt="" style="width:100%;" />
			</div>
		</div>
		<div id='navi'>
			<div class="contain">
				<a href="__APP__/Home/Index/main" class="navi_a">首页</a>
				<a href="__APP__/Home/Inform/news" class="navi_a">新闻通知</a>
				<a href="__APP__/Home/Equipment/equipment" class="navi_a">仪器介绍</a>
				<a href="__APP__/Home/Regulation/regulation" class="navi_a">规章制度</a>
				<a href="__APP__/Home/File/document" class="navi_a">文档下载</a>
				<a href="__APP__/Home/Message/conmunication" class="navi_a">讨论区</a>
				<a href="__APP__/Home/Index/about_us" class="navi_a">关于我们</a>
				<div id='na_log'>
					<span>欢迎</span>
					<eq name="Think.session.username" value=""><span><a href="#" id='login'>登录</a></span>
					<else />	<SPAN><{$Think.session.username}></SPAN>
						<a href="__APP__/Home/Login/login_out" style=''>退出</a>
					</eq>
				</div>
			</div>
		</div>
		<div id='main'>
			<div class="contain">
				<div id="main_navi">
						&nbsp;<a href="__APP__/Home/Index/main">首页</a><span>--->关于我们</span>
				</div>
				<ul id='show'>
						<h2>　植科院公共平台目前的组织管理结构如下</h2>
						<volist name = "data0" id = "vo">
							<li><img src="__PUBLIC__/pic/na.png" alt="" />　<span class="na"><{$vo.position}>  <{$vo.name}></span></li>
							<li><img src="__PUBLIC__/pic/job.png" alt="" />　<span class="inf"><{$vo.responsibility}>	<{$vo.responsible}></span></li>
							<br /><br/>
						</volist><br>
						<volist name = "data1" id = "vo">
							<li class='add'><img src="__PUBLIC__/pic/address.png" alt="" />　<{$vo.adress}>:<{$vo.addressname}></li>
							<li class='add'><img src="__PUBLIC__/pic/person.png" alt="" />　<{$vo.people}>：<{$vo.peoplename}></li>
							<li class='add'><img src="__PUBLIC__/pic/zip_code.png" alt="" />　<{$vo.post}>：<{$vo.postid}></li>
						</volist>
				</ul>
			</div>
		</div>
		
	</body>
</html>