<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>讨论区</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Author" content="网页作者" /> 
		<meta name="Copyright" content="网站版权" /> 
		<meta name="keywords" content="网站关键字" />
		<meta name="description" content="网站描述" />
		<link rel="stylesheet" type='text/css' href="__PUBLIC__/Css/add_message.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
		<script type="text/javascript" src="__PUBLIC__/Js/jquery-3.1.1.min.js"></script>
		<script src="__PUBLIC__/Js/public.js"></script>
		<script>
			function f1(){
				$.post("__APP__/Home/Login/do_login", {
					username:$("#l_txtName").val(),
					password:$("#l_txtPwd").val()
				},function(text){
					if(text=="pass"){
						window.location.href="__APP__/Home/Inform/news";
					}else{
						$("#suggest").html(text);
					}
				});
			}
			function f2(){
			$.post("__APP__/Admin/Login/do_login", {
				username:$("#a_txtName").val(),
				password:$("#a_txtPwd").val()
			},function(text){
				if(text=="pass"){
					window.location.href="__APP__/Admin/Index/admin";
				}else{
					$("#suggest").html(text);
				}
			});
			}
		</script>
	</head>
	<body>
		<!-- 这里是登录弹出窗口 -->
		<div id="LoginBox">
	        <div class="row1">
	            登录<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="l_closeBtn">×</a>
	        </div>
	        <form>
		        <span id="suggest"> &nbsp;</span>
		        <div class="row">
		            用户名: 
		            	<span >
		                	<input class="inputBox" type="text" id="l_txtName" placeholder="账号" />
		            	</span>
		        </div>
		        <div class="row">
		            密&nbsp;&nbsp;&nbsp;&nbsp;码:
		            <span >
		                <input class="inputBox" type="password" id="l_txtPwd" placeholder="密码" />
		           	</span>
		        </div>
		        <div class="row">
		            	<a href="#" id="l_loginbtn" onclick="f1();">登录</a>
	        	</div>
	        </form>
	    </div>
		
		<!-- 结束登陆弹出窗口 -->
		<!-- 管理登录 -->
		<div id="AdminBox">
	        <div class="row1">
	            后台登录<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="a_closeBtn">×</a>
	        </div>
	        <form>
		        <span id="suggest"> &nbsp;</span>
		        <div class="row">
		            用户名: 
		            	<span >
		                	<input class="inputBox" type="text" id="a_txtName" placeholder="管理员账号" />
		            	</span>
		        </div>
		        <div class="row">
		            密&nbsp;&nbsp;&nbsp;&nbsp;码:
		            <span >
		                <input class="inputBox" type="password" id="a_txtPwd" placeholder="密码" />
		           	</span>
		        </div>
		        <div class="row">
		            	<a href="#" id="a_loginbtn" onclick="f2();">登录</a>
	        	</div>
	        </form>
	    </div>
	     <!-- 结束管理登录窗口 -->
		<div id='header'>
			<div class="contain" >
				<img src="__PUBLIC__/Pic/top.jpg" alt="" style="width:100%;" />
			</div>
		</div>
		<div id='navi'>
			<div class="contain">
				<a href="__APP__/Home/Index/main" class="navi_a">首页</a>
				<a href="__APP__/Home/Inform/news" class="navi_a">新闻通知</a>
				<a href="__APP__/Home/Equipment/equipment" class="navi_a">仪器介绍</a>
				<a href="__APP__/Home/Regulation/regulation" class="navi_a">规章制度</a>
				<a href="__APP__/Home/File/document" class="navi_a">文档下载</a>
				<a href="__APP__/Home/Message/conmunication" class="navi_a">讨论区</a>
				<a href="__APP__/Home/Index/about_us" class="navi_a">关于我们</a>
				<div id='na_log'>
					<span>欢迎</span>
					<eq name="Think.session.username" value=""><span><a href="#" id='login'>登录</a></span>
					<else />	<SPAN><{$Think.session.username}></SPAN>
						<a href="__APP__/Home/Login/login_out" style=''>退出</a>
					</eq>
				</div>
			</div>
		</div>
		<div id='main'>
			<div class="contain">
				<div id="main_navi">
						&nbsp;<a href="__APP__/Home/Index/main">首页</a><span>---></span><a href="__APP__/Home/Message/conmunication">讨论区</a><span>--->发布留言</span>
						
				</div>
				<div id="show">
					<eq name = "user" value = "0">
								<form action="__URL__/do_addmessage" method = "post" id = "myForm">
									<br><br>
									<!-- 此处应该限制一下输入文本框的长度 -->
									<h2>留言主题：<input type="title" name="title" name="title"> <br><br></h2>
									<textarea name="content" id = "content"></textarea><br /><br />
							        <input type="submit" name="submit" value="发布">
							        <input type="reset" value = "取消">
							        <!-- 添加一个事件，当点击其时，弹出对话框，是否放弃发布留言？是，关闭新打开的标签页，否，回到本界面 -->
							    </form>
								<else /> 
									<eq name = "user" value = "">
										<p><span>您还没有登录，登录后可添加留言</span></p><br />
										<else /><span>您已经被管理员禁言</span><br />
									</eq>
						</eq>
				</div>
			</div>
		</div>
		<div id='footer'>
		<div class="contain">
			<p class="footer_p">通讯地址：华中农业大学主楼东附楼二楼</p>
			<p class="footer_p">邮政编码：430070</p>
			<hr />
			<p class="footer_p">@xxxxxxxxxxxxxx  <a href="#" id='admin' >管理</a></p>
		</div>
	</div>
	</body>
</html>