<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文件</title>
</head>
<body>

	<!-- 管理员（教师用户文件页面） 
	功能是：展示已上传的所有文件和上传文件
	-->

	<volist name = "data" id = "vo">
		<a href="__PUBLIC__<{$vo.address}>"><p><{$vo.realname}>　　<{$vo.date}></a>　　　　　　　<a href="__URL__/delete/id/<{$vo.id}>">删除</a></p>
		<!-- 用户点击删除，添加一个事件 ====是否删除此文件 -->
	</volist>
	<{$show}>
	<form action="__URL__/do_show" enctype="multipart/form-data" method="post" >
		<p>上传文件</p>
		<input type="file" name = "file">
		<input type="submit" value = "提交">
	</form>
</body>
</html>