<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>通告</title>
</head>
<script>
    function hahaha(){
        mya.blur(function(){
            alert("1");
        });
    }
</script>
<body>

    <!-- 管理员（教师用户通知模块）
    功能是：展示所有的通知和上传通知
     -->

	<volist name = "data" id = "vo">
        <a href="__URL__/showitems/id/<{$vo.id}>" name = "mya" onclick = "hahaha()"><p><{$vo.title}></a>　　<{$vo.date}></p>
        <!-- 点击它发生一个事件，窗口弹出显示通知 -->
		<hr>
	</volist>
    <form action="__URL__/do_show" method="post" name="myForm">
        通告名称：<input type="text" name="title" value="" /><br /><br />
        通告内容：<textarea name="content"></textarea><br /><br />
        <input type="submit" name="submit" value="提交" />
    </form>
</body>
</html>