<!DOCTYPE html>
<html>
<head>
    <title>新闻</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/public.css" />
</head>
<body>
    <div class="contant">
    <div class="row1">
            <font color="#777777"><strong>用户名称：</strong></font>
            <a href="__APP__/Admin/Index/studentdetail"><{$Think.session.username}></a>
    </div>
    <div class="row">
            <table >
                <div class='panel'>
                    <div id='p_body'>
                        <table>
                            <tr>
                                <td>
                                    <a href="__URL__/add"><button>写通知</button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </table>
        </div>
        <div class="row">
            <table >
                <div class='panel'>
                    
                    <div id='p_body'>
                        <volist name = "data" id = "vo">
                		    <tr>
                		        <td>
                                    <a href="__URL__/showitems/id/<{$vo.id}>">
                                    <span><{$vo.title}></span>
                                    </a>
                                </td>
                                <td><span><{$vo.date}></span></td>
                                <td><a href="__URL__/do_delete/id/<{$vo.id}>"><button>删除</button></a></td>
                            </tr>
                        </volist>
                    </div>
                </div>
            </table>
        </div>
    </div>
</body>
</html>
