<!DOCTYPE html>
<html>
<head>
    <title>新闻</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/public.css" />
</head>
<body>
    <div class="contant">
    <div class="row1">
            <font color="#777777"><strong>用户名称：</strong></font>
            <a href="__APP__/Admin/Index/studentdetail"><{$Think.session.username}></a>
    </div>
    <div class="row2">
            <table >
                <div class='panel'>
                    <thead>
                    </thead>
                    <div id='p_body'>
                        <tr>
                            <td><span>写通知</span></td>
                        </tr>
                        <tr>
                            <!-- 使用Ajax判断输入是否合法 -->
                            <td><form action="__URL__/do_show" method="post" name="myForm">通知名称：</td>
                            <td><input type="text" name="title" value="" /></td>
                        </tr>
                        <tr>
                            <td>通告内容:</td>
                            <td class='con'><textarea name="content"></textarea></td>
                        </tr>
                        <tr>
                            <td><div id="buttom" ><button type="submit"value="提交" />提交</button></div></form></td>
                        </tr>
                    </div>
                </div>
            </table>
        </div>
        <div class="3">
            <table >
                <div class='panel'>
                    </thead>
                    <div id='p_body'>
                        <volist name = "data" id = "vo">
                		    <tr>
                		        <td><a href="__URL__/showitems/id/<{$vo.id}>"><{$vo.title}></a></td>
                                <td><{$vo.date}></td>
                                <td><a href="__URL__/do_delete/id/<{$vo.id}>"><button>删除</button></a></td>
                            </tr>
                        </volist>
                    <thead>
                    </div>
                </div>
            </table>
        </div>
    </div>
</body>
</html>
