<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>关于我们</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Author" content="网页作者" /> 
		<meta name="Copyright" content="网站版权" /> 
		<meta name="keywords" content="网站关键字" />
		<meta name="description" content="网站描述" />
		<link rel="stylesheet" href="./zhihu-css.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
		<script></script>
	</head>
	<body>
		<div id='header'>
			<div class="contain">
				<img src="__PUBLIC__/Pic/top.jpg" alt="" style="width:100%;" />
			</div>
		</div>
		<div id='navi'>
			<div class="contain">
				<a href="#" class="navi_a">首页</a>
				<a href="#" class="navi_a">新闻通知</a>
				<a href="#" class="navi_a">仪器介绍</a>
				<a href="#" class="navi_a">规章制度</a>
				<a href="#" class="navi_a">文档下载</a>
				<a href="#" class="navi_a">讨论区</a>
				<a href="#" class="navi_a">关于我们</a>
				<b>	　　　　　　　　　　　　　　　</b>
				<b style='line-height:60px;'>欢迎</b>
				<span style='line-height:60px;'>ctc {$v.username}</span>
				<a href="#@" style=''>退出</a>
			</div>
			</div>
		</div>
		<div id='main'>
			<div class="contain">
				<div id="main_navi">
						<a href="">首页</a>--->关于我们
				</div>
				<hr /><br />
				<h3>联系我们：</h3>
				<ul id='address'>
					<li>地址：xxxxxxxxxxxxx</li>
					<li>邮编：43xxxx</li>
				</ul>
				<ul id='teloffice'>
					<li>办公室：逸夫楼xxxxx</li>
					<li>联系电话：xxxxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxx </li>
				</ul>
				<ul id='tellab'>
					<li>实验室联系方式：</li>
					<li>xxxxxxxxxxxxxx</li>
				</ul>
			</div>
		</div>
		<div id='footer'>
			<div class="contain">
				<p class="footer_p">通讯地址：xxxxxxxxxxxxxxxxx</p>
				<p class="footer_p">邮政编码：xxxxxx</p>
				<p class="footer_p">联系电话：xxxxxxx xxxxxxxxxx xxxxxxxxxxxx</p>
				<hr />
				<p class="footer_p">@xxxxxxxxxxxxxx  <a href="">管理</a></p>
			</div>
		</div>
	</body>
</html>