<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改信息</title>
</head>
<body>
	<form action="__URL__/do_update" method = "post">
	
		<!-- 用户不可见文本输入域,用来保存仪器的id号码，便于进行修改--> 
		<input type="text" name = "id" value = "<{$vo.id}>" hidden>


		仪器编号：<input type="text" name = "eid" value = "<{$vo.eid}>"> <br><br>
		仪器中文名称：<input type="text" name = "ecname" value = "<{$vo.ecname}>"><br><br>
		仪器英文名称：<input type="text" name = "eename" value = "<{$vo.eename}>"><br><br>
		仪器型号：<input type="text" name = "etype" value = "<{$vo.etype}>"><br><br>
		仪器生产厂家中文名称：<input type="text" name = "ecmanufactor" value = "<{$vo.ecmanufactor}>"><br><br>
		仪器生产厂家英文名称：<input type="text" name = "eemanufactor" value = "<{$vo.eemanufactor}>"><br><br>
		仪器出厂年月：<input type="text" name = "eoutdate" value = "<{$vo.eoutdate}>"><br><br>
		仪器出厂编号：<input type="text" name = "eoutid" value = "<{$vo.eoutid}>"><br><br>
		仪器购买时间：<input type="text" name = "ebuydate" value = "<{$vo.ebuydate}>"><br><br>
		仪器价格：<input type="text" name = "eprice" value = "<{$vo.eprice}>"><br><br>
		仪器放置地点：<input type="text" name = "elocation" value = "<{$vo.elocation}>"><br><br>
		
		<input type="submit" value = "提交">

	</form>
</body>
</html>